body{
    margin: 0;
    padding: 0;
    background-image: url("/Images/red-and-blue-fire-vjz5bm9301cwwmpm-overlay-overlay.jpg");
   
}

.topnav {
    background-color: #120714;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.dropdownClub button{
  cursor: pointer;
}

.dropdownClub a{
  display: block;
  color: black;
  text-decoration: none ;
}

.clubContent{
  display: none;
  position: absolute;
  padding-top: 1em;
}

.dropdownClub:hover .clubContent{
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.topnav a{
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

  .footerTeams{
    height: 200px;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }

  .levskiEmblem{
    max-height: 50%;
  }

  .barcelonaEmblem{
    max-height: 50%;
  }


.headerMenus{
    height: 50px;
}

.siteDesign{
    display: flex;
    gap: 70%;
}

.leftPicture{
    height: 1000px;
    width: 300px;
}

.rightPicture{
    height: 1000px;
    width: 300px;
}

.leftPicture img{
    width: 100%;
    height: 100%;
    float: left;
}

.rightPicture img{
    width: 100%;
    height: 100%;
    float: right;
}