body{
    margin: 0;
    padding: 0;
    background-image: url("/Images/red-and-blue-fire-vjz5bm9301cwwmpm-overlay-overlay.jpg");
   
}

.card img:hover {
    transform: scale(1.2);
    transition: transform .4s;   
}

