<div class="flex-grow-1 g-2">
    <div class="barca">
        <p>Футболен клуб „Барселона“, съкратено ФК „Барселона“ (на испански: Fútbol Club Barcelona и на каталонски: Futbol Club Barcelona каталонско произношение: [fubbɔɫ kɫub bərsəɫonə]) е професионален футболен клуб от едноименния испански град. По годишен оборот за финансовата година към сезон 2017/18 Барселона е на второ място в света и на първо в Испания с оборот от 390,8 млн. британски лири (около 844 млн. лева).[2]</p>
    </div>
    <div class="levski">
        <p>ПФК „Левски“ (София) е български професионален футболен отбор от София, основан на 24 май 1914 г. от група млади гимназисти и кръстен на българския революционер и национален герой Васил Левски.[1] Откакто е основан, „Левски“ София е единственият отбор, който през всичките 97 футболни шампионата на България участва или в първа Софийска футболна дивизия, или в Националната А група.</p>
    </div>
</div>